@model Department
<h1>Add New Department</h1>
<form asp-action="Create" asp-controller="Department">
    <div>
        <label >Name</label>
        <input id="txtName"  type="text" name="Name" asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label>Location</label>
        <input type="text" name="Location" class="form-control"/>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <button type="submit" class="btn-primary btn">Save</button>
</form>