@model Department
<h1>Edit Department</h1>
<form asp-action="Edit" asp-controller="Department">
    <div>
        <input type="hidden" value ="@Model.Id" />
        <label for="">Name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control"/>
    </div>
    <div>
        <label>Location</label>
        <input type="text" name="Location" value="@Model.Location" class="form-control"/>
    </div>
    <button type="submit" class="btn-primary btn">Update</button>
</form>